node_modules/
build/
dist/
coverage/
.DS_Store
*.log
*.tsbuildinfo
.env*
!.env.example

# Sentry Config File
.env.sentry-build-plugin

# Next.js build output
.next/

# Next.js telemetry
.telemetry.json
